<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>


    <form action = 'hello' method = 'post'>
        <input type = 'text' name = 'name'>
<!--        <select name = 'languages'>-->
<!--            <option value = 'english'>English</option>-->
<!--            <option value = 'spanish'>Spanish</option>-->
<!--            <option value = 'portuguese'>Portuguese</option>-->
<!--            <option value = 'nahuatl'>Nahuatl</option>-->
<!--            <option value = 'french'>French</option>-->
<!--        </select>-->
        <input type = 'submit' value = 'Say hello!'>
    </form>

</body>
</html>